<html>
<head>
<meta charset="utf8"/>
<script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet"/>
<link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
var last_transaction_id = null;
$(function(){
  getTransactions();
});

function getTransactions(){
  $.ajax({
    type: 'GET',
    url: '/transactions',
    success: function( result ){
      result = JSON.parse( result );
      for( var i = 0; i < result.transactions.length; i ++ ){
        var transaction = result.transactions[i];

        //. Add Inner
        var div = "<div id='item-for-" + transaction.transactionId + "'>"
          + "<pre id='pre-for-" + transaction.transactionId + "'>" + JSON.stringify( transaction, null, 2 ) + "</pre>"
          + "</div>";
        $('#transactions').append( div );
        if( i < result.transactions.length - 1 ){
          //. Add Chain
          var chain = "<div class='chain'>" + transaction.transactionId + "</div>"
          $('#transactions').append( chain );
        }

        getTransaction( transaction.transactionId, transaction.type );
        last_transaction_id = transaction.transactionId;
      }

      $('.transactions').slick({
        infinite: false,
        slidesToShow: 3,
        slidesToScroll: 2,
        initialSlide: ( result.transactions.length - 2 ) * 2,
        arrows: true,
        dots: true
      });

      //setTimeout( updateTransactions, 10000 );
    },
    error: function( err ){
      console.log( err );
    }
  });
}

function updateTransactions(){
  //console.log( 'updateTransactions' );
  $.ajax({
    type: 'GET',
    url: '/transactions',
    success: function( result ){
      result = JSON.parse( result );
      if( result.transactions.length > 0 && ( last_transaction_id == null || result.transactions[result.transactions.length-1].transactionId != last_transaction_id ) ){
        var b = ( last_transaction_id == null ? -1 : 0 );
        for( var i = 0; i < result.transactions.length; i ++ ){
          var transaction = result.transactions[i];

          if( b == -1 || b >= 1 ){
            if( last_transaction_id != null ){
              console.log( 'i = ' + i );
              //. Add Chain
              var chain = "<div class='chain'>" + result.transactions[i-1].transactionId + "</div>"
              $('.slick-track').append( chain );
            }

            //. Add Inner
            var div = "<div id='item-for-" + transaction.transactionId + "'>"
              + "<pre id='pre-for-" + transaction.transactionId + "'>" + JSON.stringify( transaction, null, 2 ) + "</pre>"
              + "</div>";
            $('.slick-track').append( div );

            b = 2;
            last_transaction_id = transaction.transactionId;
          }

          if( ( b == 0 ) && transaction.transactionId == last_transaction_id ){
            b = 1;
          }
        }
      }

      if( b == 2 ){
        $('.transactions').slick({
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 2,
          initialSlide: ( result.transactions.length - 2 ) * 2,
          arrows: true,
          dots: true
        });
      }
    },
    error: function( err ){
      //console.log( err );
    }
  });
  setTimeout( updateTransactions, 10000 );
}

function getTransaction( transactionId, type ){
  $.ajax({
    type: 'GET',
    url: '/transaction?transactionId=' + transactionId + '&type=' + type,
    success: function( result ){
      result = JSON.parse( result );

      var transaction = result.transaction;
      delete transaction['$class'];
      var json = JSON.stringify( transaction, null, 2 );
      json = '<a href="#" title="' + transaction.body + '" style="text-decoration:none;">' + json + '</a>';

      $('#pre-for-' + transaction.transactionId).html( json );
    },
    error: function( err ){
      console.log( err );
    }
  });
}
</script>
<title>Viewer</title>
<style>
.chain{
  background-image: url('./chain.jpg');
  background-repeat: repeat-x;
  text-align: center;
}
.slick-slide{
  height: 30%;
}
</style>
</head>
<body>

<div id="transactions" class="transactions">
</div>

</body>
</html>
